.container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

img {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 120px;
  height: 120px;
  padding: 0px;
}

a {
  display: block;
  margin-top: auto;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  justify-content: space-between;
}
