<!-- Quest 1 components -->

<!-- <div class="box">
  <div class="container"><app-block></app-block><app-block></app-block></div>
  <div class="container"><app-block></app-block><app-block></app-block></div>
</div> -->

<!-- Quest 2 binding -->

<!-- <app-user-profile></app-user-profile> -->

<!-- Quest 3.1 directives -->

<!-- <app-directives></app-directives> -->

<!-- Quest 3.2 custom-directives -->

<!-- <app-custom-directives></app-custom-directives> -->

<!-- Quest 4 routes -->

<!-- <app-menu></app-menu>
<router-outlet></router-outlet> -->

<!-- Quest 5 template-driven forms -->

<!-- <app-sign-up></app-sign-up> -->

<!-- Quest 6 reactive forms -->

<app-search-movie></app-search-movie>