ul {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: black;
  li {
    height: 100%;
    text-align: center;
    margin-right: 50px;
    cursor: pointer;
    color: white;
    padding: 0px 15px;
    line-height: 50px;
  }
  li:hover{
    background-color: rgb(50, 50, 50);
  }
}
